// Colors

$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);
$white: hsl(0, 0%, 100%);

// Typography

$xl: 3rem;
$lg: 2.5rem;
$md: 2rem;
$sm: 1.5rem;
$xs: 1rem;

$light: 300;
$medium: 500;
$bold: 700;